body {
  margin: 3em auto;
  width: 75%;
  max-width: 800px
}

h1 {
  font-family: 'Monda', sans-serif;
  font-size: 60px;
  margin-bottom: -3.5px;
}

div {
  display: inline-block;
}

img {
  display: block;
  margin-left: 1em;
  margin-right: auto;
  margin-bottom: 2em;
  height: 380px;
  width: 680px
}

nav {
  text-align: center;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 2.5em;
  display: inline;
  background-color: #971A44;
  color: white;
  padding: .5em;
  box-sizing: border-box;
  font-size: 20px;
}

p {
  padding-top: 1em;
  margin: auto;
  font-family: 'Didact Gothic', sans-serif;
}
