/* Add your CSS here */
h1, h2 {
   text-align: center;
       }
.center {
   text-align: center;
        }
.pic {
   float: left;
     }
.left {
   display: inline-block;
   width: 45%;
      }
.right {
   display: inline-block;
   width: 45%
       }
.pictest {
   display: inline;
         }
